<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h2>Submit a Link</h2>
      <%= form_tag links_path, remote: true do %>

          <%= text_field_tag :url, nil, :data => {id: current_user.id}, :placeholder => "Submit a new link..." %>

          <%= submit_tag "Submit", class: "btn btn-large btn-primary new-link-btn" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h2>Links to Read</h2>
      <ol id="links">
        <% current_user.links_to_read.each do |link| %>
            <li data-id="<%= link.id %>">
              <strong><a href="<%= link.url %>" target="_blank"><%= link.url_title %></a></strong><br>
              <button class="btn btn-success btn-sm unread-link-btn" type="submit">Mark as Read</button>
            </li>
        <% end %>
      </ol>
    </div>
    <div class="col-md-4">
      <h2>Links Marked as Read</h2>
      <ol id="links-read">
        <% current_user.links_read.each do |link| %>
            <li data-id="<%= link.id %>">
              <strong><a href="<%= link.url %>" target="_blank"><%= link.url_title %></a></strong><br>
              <button class="btn btn-warning btn-sm read-link-btn" type="submit">Mark as Unread</button>
            </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
